{% load getsocial_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link href="{{css_url}}common.css" type="text/css" rel="stylesheet"/>
        {% block page_styles %}
            
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="logo">
                {% get_image_tag "logo.jpg" "" %}
            </div>
            <div class="menus">
                <div class="menu">
                    {% get_image_tag "menu1_on.png" "submenu_img" data="id:1" %}
                    <div class="submenu">
                        
                    </div>
                </div>
                <div class="menu">
                    {% get_image_tag "menu2_on.png" "submenu_img" data="id:2" %}
                    <div class="submenu">
                        <div>
                            Popular
                        </div>
                        <div>
                            My Network
                        </div>
                        <div>
                            Categories
                            <div class="submenu-1">
                                {% for category in all_categories %}
                                    <div>
                                        {{ category.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            Crowdcast
                        </div>
                        <div>
                            Social Feed
                        </div>
                        <div>
                            Videos
                        </div>
                    </div>
                </div>
                <div class="menu">
                    {% get_image_tag "menu3_on.png" "submenu_img" data="id:3" %}
                    <div class="submenu">
                        
                    </div>
                </div>
            </div>
            <div class="header-right">
                {% if not user.is_authenticated %}
                    <div class="login-btn">
                        {% get_image_tag "loginbtn1.png" "" %}
                    </div>
                    <div class="register-btn">
                        {% get_image_tag "registerbtn1.png" "" %}
                    </div>
                {% else %}
                    <div class="user-box">
                        <div>
                            {% get_image_tag "my_image.jpg" "" width="32px" %}
                            {% get_image_tag "darrow2.png" "" %}
                        </div>
                        <div>
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="user-actions">
                        <div>
                            <span>{% get_image_tag "sprofile1.png" "" data="image_hover_name:sprofile1_h.png;image_name:sprofile1.png" %}</span><span>Profile</span>
                        </div>
                        <div>
                            <span>{% get_image_tag "sacc1.png" "" data="image_hover_name:sacc1_h.png;image_name:sacc1.png" %}</span><span>Accounts</span>
                        </div>
                        <div>
                            <span>{% get_image_tag "sfred1.png" "" data="image_hover_name:sfred1_h.png;image_name:sfred1.png" %}</span><span>Friends</span>
                        </div>
                        <div>
                            <span>{% get_image_tag "sadd1.png" "" data="image_hover_name:sadd1_h.png;image_name:sadd1.png" %}</span><span>Add</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% block content %}
                
            {% endblock %}
        </div>
        <div class="footer">
            
        </div>
        {% get_script_tag "jquery.js" %}
        {% get_script_tag "common.js" %}
        {% block page_scripts %}
            
        {% endblock %}
    </body>
</html>