{% load getsocial_tags %}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span4 offset8">
                <div class="row-fluid">
                    <div class="span3">
                        {% get_image_tag "loginbtn1.png" "show_small_login" %}
                    </div>
                    <div class="span3">
                        {% get_image_tag "registerbtn1.png" "" %}
                    </div>
                    <div class="span3">
                        {% get_image_tag "twitter1.png" "" %}
                    </div>
                    <div class="span3">
                        {% get_image_tag "facbook1.png" "" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="span4 offset4 hide small_login_form">
        <div class="row-fluid">
            <div class="span6" style="padding-top: 10px;">
                Sign in with
            </div>
            <div class="span3">
                {% get_image_tag "twitter1.png" "" %}
            </div>
            <div class="span3">
                {% get_image_tag "facbook1.png" "" %}
            </div>
        </div>
        <div class="row-fluid">
            <form class="form-vertical">
                <div>
                     <label class="checkbox">City
                        <select>
                           <option>Dehradun</option>
                           <option>Mumbai</option>
                        </select>
                     </label>
                    <span class="help-block">Example block-level help text here.</span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span6 offset3 text-center">
                {% get_image_tag "log_logo.png" "inner-logo" %}
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8 offset2">
                {% get_image_tag "login_text1.png" "inner-login-text" %}
            </div>
        </div>
    </div>
</div>