<div class="row-fluid">
    <div class="span10 offset1">
        <form class="form-horizontal registration-form">
            <fieldset>
                <legend>Connect to your social profiles</legend>
                <div class="row-fluid">
                    <div class="span3">
                        <img src="http://1.mshcdn.com/follow/images/badges/Services/32x32/Facebook_32x32.png?1294958866"/>
                        <span>Facebook</span><a href="#">Connect</a>
                    </div>
                    <div class="span3">
                        <img alt="" src="http://3.mshcdn.com/follow/images/badges/Services/32x32/Twitter_32x32.png?1295749802">
                        <span>Twitter</span><a href="#">Connect</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>