{% extends "layouts/layout_temp.html" %}
{% block content %}
    <div class="row-fluid registration-div">
        <div class="span8 offset2 registration-outer rounded-border-5">
            <div class="row-fluid">
                <div class="span12 registration-inner rounded-border-5">
                    <!--<div class="row-fluid">
                        <div class="span10 offset1">
                            <h4>Sign Up</h4>
                        </div>
                    </div>-->
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <form class="form-horizontal registration-form">
                                <fieldset>
                                    <legend>Sign Up</legend>
                                    <div class="control-group">
                                        <label class="control-label">Username</label>
                                        <div class="controls">
                                            <input type="text"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                            <input type="email"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Password</label>
                                        <div class="controls">
                                            <input type="password"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="submit" value="" class="registration-submit"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}